<md-card>
  <md-card-header>
    <div md-card-avatar [ngStyle]="{'background-image':'url('+ image.userImageURL +')', 'background-size':'cover', 'background-position': 'center'}"></div>
    <md-card-title>{{image.user}}</md-card-title>
    <md-card-subtitle>{{ image.likes}} Likes</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{image.webformatURL}}" class="card-image">
  <md-card-content>
    <md-chip-list>
      <md-chip *ngFor="let tag of image.tags" color="primary" selected="true" class="tag-chips">{{ tag }}</md-chip>
    </md-chip-list>
    <div class="footer clearfix">
      <p class="left">{{ image.views }} Views</p>
      <p class="right">{{ image.downloads }} Downloads</p>
    </div>
  </md-card-content>
</md-card>
