<div class="container">
  <header class="clearfix">
    <a href="https://pjosephraj.github.io/" class="left"><h2>Pixabay Image Search</h2></a>
    <a href="https://pixabay.com/" target="_blank" class="right">
      <img class="logo" src="assets/pixabay-logo.png" alt="Pixabay logo">
    </a>
  </header>
  <div class="image-list-container">
    <app-image-list></app-image-list>
  </div>
  <footer>
    <a href="https://pjosephraj.github.io/" class="left">Resume</a>
    <a href="https://github.com/pjosephraj/pixabay-api" target="_blank" class="right">Source Code</a>
  </footer>
</div>
